<table>
  <tr>
    <th>Product ID</th>
    <th>Name</th>
    <th>Category</th>
    <th>Color</th>
    <th>Unit Price</th>
    <th>Quantity</th>
  </tr>
  <tr *ngFor="let products of productList">
    <td>{{ products.productId }}</td>
    <td>{{ products.name }}</td>
    <td>{{ products.category }}</td>
    <td>{{ products.color }}</td>
    <td>{{ products.unitPrice }}</td>
    <td>{{ products.availableQuantity }}</td>
  </tr>
</table>

<app-login-form></app-login-form>
<app-register-form></app-register-form>